$primary: #01002c;
$secondary: #c4c4c4;
$tertiary: #000015;

$blue: #3b6677;
$green: #407263;
$yellow: #755a3d;
$red: #784335;


$black: #000000;
$white: #FFFFFF;

$grey: #f0f0f0;
$dark-grey: #979797;

$turq-blue: #24D7DC;

$box-shadow: #ACACAC;