@import "./colors";


.h2 {
    font-size: 1.75rem;
    color: $black;
}

.h3 {
    font-size: 1.25rem;
    color: $black;
}

.h4 {
    font-size: 1rem;
    color: $black;
}

.p {
    font-size: 0.75rem;
    color: $black;
}

.subtitle {
    font-size: 0.5rem;
    color: $black;
}